# Python
__pycache__/
*.py[cod]
*$py.class
.python-version

# Distribution
dist/
build/
*.egg-info/

# Environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/
.trae/

# Environment variables
.env

# Database
*.sqlite
*.db

# Logs
*.log

# uv
uv.lock
