# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution
dist/
build/
*.egg-info/

# Environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Environment variables
.env

# Database
*.sqlite
*.db

# Logs
*.log
